# Final Data Science Project

## Introduction

This notebook aims to provide basic examples of how to work with data, perform simple calculations, and use libraries for data visualization in data science.

## Data Science Languages

- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries

- **Python:**
  - Pandas
  - NumPy
  - Matplotlib
  - Seaborn
  - Scikit-learn

- **R:**
  - dplyr
  - ggplot2
  - tidyr
  - caret
  - shiny

## Data Science Tools Table

| Tool            | Description                                      |
|-----------------|--------------------------------------------------|
| JupyterLab      | Interactive environment for data development    |
| RStudio         | IDE for the R programming language               |
| Tableau         | Data visualization tool                          |
| Apache Spark    | Platform for processing large volumes of data   |

## Examples of Arithmetic Expressions

- Addition: `3 + 5` = 8
- Subtraction: `10 - 4` = 6
- Multiplication: `7 * 3` = 21
- Division: `20 / 4` = 5

In [4]:
# Code to multiply and add numbers

a = 5
b = 3

multiplication = a * b
addition = a + b

multiplication, addition

(15, 8)

In [2]:
# Code to convert minutes to hours

def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes_to_hours(120)

2.0

In [3]:
# Code to list objectives

objectives = ["Learn Python", "Perform data analysis", "Create visualizations"]
for objective in objectives:
    print(objective)

Learn Python
Perform data analysis
Create visualizations

## Author

**Jairo Ortiz**